In [20]:

import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression


<img src='./imgs/exe6_1.png' style=''>

In [25]:
data = pd.read_csv('./data/aptos.csv', sep=';', index_col=False)

In [26]:
data.head(5)

         ID    area  quartos  suites  vagas      preco
0  353534.0  110.00      3.0     1.0    2.0   880000.0
1  366113.0  101.89      3.0     1.0    4.0   900000.0
2  186728.0  191.00      3.0     1.0    3.0   920000.0
3  366115.0  101.89      3.0     1.0    4.0   950000.0
4  353022.0  280.61      3.0     1.0    4.0  1000000.0

In [57]:

y = data['preco']
X = data.drop(['preco','ID'],axis=1)

In [58]:
X

       area  quartos  suites  vagas
0    110.00      3.0     1.0    2.0
1    101.89      3.0     1.0    4.0
2    191.00      3.0     1.0    3.0
3    101.89      3.0     1.0    4.0
4    280.61      3.0     1.0    4.0
..      ...      ...     ...    ...
216   81.99      2.0     1.0    2.0
217   70.00      2.0     2.0    2.0
218   70.00      2.0     2.0    2.0
219  238.39      2.0     1.0    2.0
220  115.00      3.0     1.0    2.0

[221 rows x 4 columns]

In [59]:
# normalizando o DataFrame X,(x - x_mean)/x_std 
X_normalized = (X - X.mean())/X.std()

In [64]:
X_normalized

         area   quartos   suites     vagas
0   -0.245378 -0.066177 -0.05295  0.042399
1   -0.381459 -0.066177 -0.05295  2.719598
2    1.113747 -0.066177 -0.05295  1.380998
3   -0.381459 -0.066177 -0.05295  2.719598
4    2.617342 -0.066177 -0.05295  2.719598
..        ...       ...      ...       ...
216 -0.715367 -1.395742 -0.05295  0.042399
217 -0.916551 -1.395742  1.89738  0.042399
218 -0.916551 -1.395742  1.89738  0.042399
219  1.908919 -1.395742 -0.05295  0.042399
220 -0.161482 -0.066177 -0.05295  0.042399

[221 rows x 4 columns]

In [60]:

# aplicando modelo de RegressÃ£o linear
model_linear = LinearRegression().fit(X_normalized, y)

In [61]:
# y preditos pelo modelo. Observe que o modelo Ã© aplicado sobre o mesmo conjunto de dados de treino devido ao objetivo principal do problema.
y_pred = model_linear.predict(X_normalized)

In [62]:

# vetor de resÃ­duos
r = (y - y_pred)
r

0      265170.252537
1      -82100.068813
2      -41421.605427
3      -32100.068813
4     -324509.344453
           ...
216     23363.558735
217    -40300.659793
218     29699.340207
219   -181174.875409
220    125590.762955
Name: preco, Length: 221, dtype: float64

In [63]:

s = np.inner(y_pred, r)
print(s)

-0.002471923828125

### Anexo

Foi necessÃ¡rio um script para formatar o arquivo aptos.txt para aptos.csv para que fosse possÃ­vel realizar a leitura correta dos dados com o Pandas. O script construÃ­do Ã© mostrado abaixo.

# script formata arquivo aptos.txt para formato aptos.csv
# a formataÃ§Ã£o Ã© feita em dois niveis, primeiro cria uma string em um pre formato e entÃ£o Ã© aplicado uma
# funÃ§Ã£o, sobre a string gerada, que finaliza a formataÃ§Ã£o


# funÃ§Ã£o que recebe cada linha do arquivo aptos.txt e formata para o tipo aptos.csv
def formatFile_aptos(line_file):
    new_line = '' # armazena linha formatada
    for ind, char in enumerate(line_file):
        if(ind == 0 and char != ' '): # verifica se o atual caractere Ã© o primeiro e se Ã© diferente de espaÃ§o.
            new_line += char
        elif(char != ' ' and char != '\t'): # verifica se o atual caractere Ã© diferente de espaÃ§o ou tab
            new_line += char
        elif((ind != len(line_file)-1) and (ind != 0) and line_file[ind+1] != ' '): # verifica se o atual caractere nÃ£o Ã© o primeiro, se o prÃ³ximo caractere Ã© diferente de espaÃ§o e se o atual caractere nÃ£o Ã© o Ãºtilmo da linha, a ordem dessas operaÃ§Ãµes lÃ³gicas Ã© importante.
            new_line += ';'
    return new_line


# finaliza a formataÃ§Ã£o para csv
def formatString(line):
    new_line = ''
    for ind, char in enumerate(line):
        if(ind == 0 and char == ';'): # elimina ';' em inicio de nova linha
            continue;
        elif(char == ';' and ind != (len(line)-1) and line[ind+1] == ';'): # elimina ';' duplicados
            continue;
        else:
            new_line += char;
    return new_line;
        

    
new_string = [] # armazena string, quase jÃ¡ pronta para o formato csv

# abre arquivo aptos.txt e realiza sua leitura linha por linha
with open('./aptos.txt') as file:
    for line in file:
        new_string.append(formatFile_aptos(line)) # formata linha para csv e concatena com new_file
        
new_file = '' # armazena o arquivo formatado para csv

for a in new_string:
    new_file += formatString(a)

#print(new_file)

#cria arquivo aptos.csv salvando a string new_file, string contendo arquivo formatado
with open('./aptos.csv', 'a') as file:
    file.write(new_file)
    
    
    
# Reference

#[1]https://www.pythoncheatsheet.org/#Reading-and-Writing-Files
#[2]https://stackoverflow.com/questions/4435169/how-do-i-append-one-string-to-another-in-python

### References

[1]https://homepages.dcc.ufmg.br/%7Eassuncao/EstatCC/LivroDeExerciciosFECD.pdf
<br>
[2]https://homepages.dcc.ufmg.br/%7Eassuncao/EstatCC/FECD.pdf Cap. RegressÃ£o
<br>
[3]https://homepages.dcc.ufmg.br/%7Eassuncao/EstatCC/material.html
<br>