In [81]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [82]:

date_aniversary = pd.to_datetime('13-01-1996 12:00:00')
date_now = pd.to_datetime('16-06-2020 16:30')

time_delta = date_now - date_aniversary

print(time_delta)

8921 days 04:30:00

In [83]:
#np.random.rand(10)

In [84]:

# creating some toy dates

dates = pd.date_range('13-01-1996','25-01-1996')

#df_data = pd.DataFrame([x for x in range(len(dates))], index=dates); df_data
df_data = pd.DataFrame(np.random.rand(len(dates)), index=dates); df_data

                   0
1996-01-13  0.740588
1996-01-14  0.318534
1996-01-15  0.462524
1996-01-16  0.498957
1996-01-17  0.562909
1996-01-18  0.904309
1996-01-19  0.518013
1996-01-20  0.538351
1996-01-21  0.038083
1996-01-22  0.532218
1996-01-23  0.255312
1996-01-24  0.488180
1996-01-25  0.231459

In [85]:
dates

DatetimeIndex(['1996-01-13', '1996-01-14', '1996-01-15', '1996-01-16',
               '1996-01-17', '1996-01-18', '1996-01-19', '1996-01-20',
               '1996-01-21', '1996-01-22', '1996-01-23', '1996-01-24',
               '1996-01-25'],
              dtype='datetime64[ns]', freq='D')

In [86]:
dates = dates.append(pd.to_datetime(['13-01-1996']))

In [87]:
print(len(dates)); dates

14

DatetimeIndex(['1996-01-13', '1996-01-14', '1996-01-15', '1996-01-16',
               '1996-01-17', '1996-01-18', '1996-01-19', '1996-01-20',
               '1996-01-21', '1996-01-22', '1996-01-23', '1996-01-24',
               '1996-01-25', '1996-01-13'],
              dtype='datetime64[ns]', freq=None)

In [88]:

df_dates2 = pd.DataFrame(np.random.rand(len(dates)), index=dates); df_dates2

                   0
1996-01-13  0.326864
1996-01-14  0.212244
1996-01-15  0.652322
1996-01-16  0.207566
1996-01-17  0.615111
1996-01-18  0.553473
1996-01-19  0.222560
1996-01-20  0.486454
1996-01-21  0.036557
1996-01-22  0.417465
1996-01-23  0.773907
1996-01-24  0.276160
1996-01-25  0.321244
1996-01-13  0.190604

In [89]:
df_dates2.index

DatetimeIndex(['1996-01-13', '1996-01-14', '1996-01-15', '1996-01-16',
               '1996-01-17', '1996-01-18', '1996-01-19', '1996-01-20',
               '1996-01-21', '1996-01-22', '1996-01-23', '1996-01-24',
               '1996-01-25', '1996-01-13'],
              dtype='datetime64[ns]', freq=None)

In [90]:
dates2_index = df_dates2.index.sort_values()

In [93]:
df_dates2.set_index(dates2_index, inplace=True); df_dates2

                   0
1996-01-13  0.326864
1996-01-13  0.212244
1996-01-14  0.652322
1996-01-15  0.207566
1996-01-16  0.615111
1996-01-17  0.553473
1996-01-18  0.222560
1996-01-19  0.486454
1996-01-20  0.036557
1996-01-21  0.417465
1996-01-22  0.773907
1996-01-23  0.276160
1996-01-24  0.321244
1996-01-25  0.190604

In [96]:
df_dates3 = df_dates2[0].resample('D').sum()

In [97]:
df_dates3

1996-01-13    0.539108
1996-01-14    0.652322
1996-01-15    0.207566
1996-01-16    0.615111
1996-01-17    0.553473
1996-01-18    0.222560
1996-01-19    0.486454
1996-01-20    0.036557
1996-01-21    0.417465
1996-01-22    0.773907
1996-01-23    0.276160
1996-01-24    0.321244
1996-01-25    0.190604
Freq: D, Name: 0, dtype: float64

In [101]:
dframe_e = pd.DataFrame([5], index=pd.to_datetime(['29-01-1996'])); dframe_e

            0
1996-01-29  5

In [102]:
df4 = pd.concat([df_dates3, dframe_e]); df4

                   0
1996-01-13  0.539108
1996-01-14  0.652322
1996-01-15  0.207566
1996-01-16  0.615111
1996-01-17  0.553473
1996-01-18  0.222560
1996-01-19  0.486454
1996-01-20  0.036557
1996-01-21  0.417465
1996-01-22  0.773907
1996-01-23  0.276160
1996-01-24  0.321244
1996-01-25  0.190604
1996-01-29  5.000000

In [103]:
df4 = df4[0].resample('D').sum()

In [104]:
df4

1996-01-13    0.539108
1996-01-14    0.652322
1996-01-15    0.207566
1996-01-16    0.615111
1996-01-17    0.553473
1996-01-18    0.222560
1996-01-19    0.486454
1996-01-20    0.036557
1996-01-21    0.417465
1996-01-22    0.773907
1996-01-23    0.276160
1996-01-24    0.321244
1996-01-25    0.190604
1996-01-26    0.000000
1996-01-27    0.000000
1996-01-28    0.000000
1996-01-29    5.000000
Freq: D, Name: 0, dtype: float64

In [107]:
type(df4)

pandas.core.series.Series

In [115]:
df4.index

DatetimeIndex(['1996-01-13', '1996-01-14', '1996-01-15', '1996-01-16',
               '1996-01-17', '1996-01-18', '1996-01-19', '1996-01-20',
               '1996-01-21', '1996-01-22', '1996-01-23', '1996-01-24',
               '1996-01-25', '1996-01-26', '1996-01-27', '1996-01-28',
               '1996-01-29'],
              dtype='datetime64[ns]', freq='D')

In [128]:
df4 = pd.DataFrame(df4, index=df4.index); df4

                   0
1996-01-13  0.539108
1996-01-14  0.652322
1996-01-15  0.207566
1996-01-16  0.615111
1996-01-17  0.553473
1996-01-18  0.222560
1996-01-19  0.486454
1996-01-20  0.036557
1996-01-21  0.417465
1996-01-22  0.773907
1996-01-23  0.276160
1996-01-24  0.321244
1996-01-25  0.190604
1996-01-26  0.000000
1996-01-27  0.000000
1996-01-28  0.000000
1996-01-29  5.000000