## Simple Example gettting data MILSA

In [1]:


import pandas as pd # to use dataframes
import requests as rq # to request URL data
from bs4 import BeautifulSoup as bs # to find elements html in URL

In [2]:

url = 'http://leg.ufpr.br/~fernandomayer/aulas/ce001e-2016-2/02_Analise_Exploratoria_de_Dados.html'

requisicao = rq.get(url)

if requisicao.status_code == 200: # 200 = good request
    print('Requisição ok!')
    content_url = requisicao.content # content url

Requisição ok!

In [8]:

soup_content = bs(content_url, 'html.parser') # creating beautiful soup object 
table_MILSA = soup_content.find(name='table')#, attrs={'class':'table table-condensed'}) # find target object

In [11]:
table_MILSA_str = str(table_MILSA) # converting the soup object to string

df_milsa = pd.read_html(table_MILSA_str)[0] # creating dataFrame

In [13]:
df_milsa.head()

   Funcionario Est.civil     Inst  Filhos  Salario  Anos  Meses    Regiao
0            1  solteiro  1o Grau     NaN     4.00    26      3  interior
1            2    casado  1o Grau     1.0     4.56    32     10   capital
2            3    casado  1o Grau     2.0     5.25    36      5   capital
3            4  solteiro  2o Grau     NaN     5.73    20     10     outro
4            5  solteiro  1o Grau     NaN     6.26    40      7     outro

In [14]:

# saving data to csv

df_milsa.to_csv(r'./data/data_MILSA', index=False, header=True)

## References

[1]https://medium.com/data-hackers/como-fazer-web-scraping-em-python-23c9d465a37f
<br>
[2]http://leg.ufpr.br/~fernandomayer/aulas/ce001e-2016-2/02_Analise_Exploratoria_de_Dados.html