In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [23]:

# building toy data

# toy data 1
dates_index_one = pd.date_range('13-01-1996','20-01-1996')
temperature_1 = np.random.randint(10,30, len(dates_index_one)); 


# toy data 2
dates_index_two = pd.date_range('13-01-1996', '15-01-1996')
temperature_2 = np.random.randint(0,300,len(dates_index_two))

# dataframes

df1 = pd.DataFrame(temperature_1, columns=['Temperature (ºC)'], index=dates_index_one)

df2 = pd.DataFrame(temperature_2, columns=['Precipitação'], index=dates_index_two)

In [24]:

print('DataFrame 1:\n\n',df1); print('\nDataFrame 2:\n\n', df2)

DataFrame 1:

             Temperature (ºC)
1996-01-13                28
1996-01-14                13
1996-01-15                22
1996-01-16                24
1996-01-17                22
1996-01-18                25
1996-01-19                17
1996-01-20                17

DataFrame 2:

             Precipitação
1996-01-13           181
1996-01-14            22
1996-01-15            52

In [25]:
df_join = df1.join(df2); df_join

            Temperature (ºC)  Precipitação
1996-01-13                28         181.0
1996-01-14                13          22.0
1996-01-15                22          52.0
1996-01-16                24           NaN
1996-01-17                22           NaN
1996-01-18                25           NaN
1996-01-19                17           NaN
1996-01-20                17           NaN

In [27]:
df_join.isnull().sum()

Temperature (ºC)    0
Precipitação        5
dtype: int64